<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Cobalt Takehome Challenge</title>

   <!-- JQUERY HERE -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

 </head>
 <body>
   <p> Enter the element you're looking for:
     <br><input type="text">
     <input type="submit"></input>

  <p> Result:
     <!-- If the tag exists, the JSON goes in the below div -->
     <br><div id="results"></div>

  <p>Element found?:
    <!-- Output goes in the div below-->
    <br><div id="boolean"></div>

<!-- JAVASCRIPT -->
    <script src="scripts.js"></script>

 </body>
</html>
