<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Cobalt Takehome Challenge</title>

   <!-- JQUERY HERE -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

 </head>
 <body>
   <!-- Form for first Route -->
     <form action="/parse.json" method="GET">
       <p> Enter the website you want to search (ex: www.cobalt.io):
       <br><input type="text" name="endpoint">
       <p> Enter the element you're looking for (ex: h1):
       <br><input type="text" name="tag">
       <br><input type="submit"></input>
     </form>

<hr>


     <form action="/contains.json" method="GET">
       <p> Enter the website you want to search (ex: www.cobalt.io):
       <br><input type="text" name="endpoint">
       <p> Enter the element you're looking for (ex: h1):
       <br><input type="text" name="tag">
       <p> What text are you looking for?
       <br><input type="text" name="text">
       <br><input type="submit"></input>
     </form>

 </body>
</html>
